<h1>Forgot password?</h1>

<form [formGroup]="formModel.formGroup">
    <fieldset class="g-fieldset" [disabled]="disableForm">

        <mat-label>Enter your email address to reset your password. <br> You may need to check your spam folder.</mat-label>

        <mat-form-field appearance="fill">
            <mat-label>Email address</mat-label>
            <input name="login-email" autocomplete="email" type="email" matInput [formControl]="formModel.email" placeholder="Ex. email@domain.com">
            <mat-error *ngIf="formModel.email.invalid">{{FieldValidators.errorMessage(formModel.email)}}</mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="disableForm" aria-label="Send reset link to email" (click)="forgotClick()">
            <mat-icon>lock_reset</mat-icon>
            <span>Send reset password code</span>
        </button>

    </fieldset>
</form>
