<h1>Forgot password?</h1>

<form [formGroup]="formModel.formGroup">
    <fieldset class="g-fieldset" [disabled]="disableForm">

        <mat-label>Enter your email address to send reset code. <br> You may need to check your spam folder.</mat-label>

        <mat-form-field appearance="fill">
            <mat-label>Email address</mat-label>
            <input name="login-email" autocomplete="email" type="email" matInput [formControl]="formModel.email" placeholder="Ex. email@domain.com">
            <mat-error *ngIf="formModel.email.invalid">{{FieldValidators.errorMessage(formModel.email)}}</mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="disableForm" aria-label="Send reset password code" (click)="forgotClick()">
            <mat-icon>mail_lock</mat-icon>
            <span>Send reset password code</span>
        </button>

    </fieldset>
</form>


<div class="g-row">
    <mat-label>If you already have a code, click to reset password button</mat-label>
    <button mat-flat-button color="primary" [disabled]="disableForm"  aria-label="Reset password" (click)="resetPasswordClick()">
        <mat-icon>lock_reset</mat-icon>
        <span>Reset password</span>
    </button>
</div>
