@import "../../../../styles/mixins";

:host {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.sl-buttons-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.5em 0 0.5em;
    user-select: none;
}

.sl-icon-text-button {
    @include sl-icon-text-button(--c-black-button, --c-black-button-hover);
}
