<div class="sl-item">
    <div>
        <img class="sl-avatar" alt="User avatar" src="{{item.avatar_id | slPictureUrl}}">
    </div>
    <div class="sl-item-text">
        <div class="g-col">
            <b>
                {{item.nickname}}
            </b>
            <div class="sl-date">
                {{item.write_date | slDateTimeYyyyMmDdHhMmSsPipe}}
            </div>
        </div>
        <div [innerHtml]="item.comment"></div>
        <div class="sl-item-reply">
            <div class="sl-item-icon">
                <mat-icon class="sl-icon-button" [ngClass]="{'fill':item.like_user}"
                          aria-hidden="false" aria-label="I like this" (click)="commentLikeClick()">
                    thumb_up
                </mat-icon>
                <span>{{item.likes_count}}</span>
            </div>
            <div class="sl-item-icon">
                <mat-icon class="sl-icon-button" [ngClass]="{'fill':item.dislike_user}"
                          aria-hidden="false" aria-label="I dislike this" (click)="commentDislikeClick()">
                    thumb_down
                </mat-icon>
                <span>{{item.dislikes_count}}</span>
            </div>
            <div class="sl-item-icon">
                <mat-icon class="sl-icon-button" (click)="commentReplyClick()">chat</mat-icon>
            </div>
        </div>
    </div>
    <div class="sl-item-menu">
        <mat-icon class="sl-icon-button sl-menu-icon" [ngClass]="{'show-all-time':menuOpened}"
                  [matMenuTriggerFor]="menu" (menuOpened)="menuItemOpenedEvent()" (menuClosed)="menuItemClosedEvent()">
            more_vert
        </mat-icon>
        <mat-menu #menu="matMenu">
            <ng-template matMenuContent>
                <button mat-menu-item (click)="editCommentClick()">
                    <mat-icon>edit_note</mat-icon>
                    <span>Edit comment</span>
                </button>
                <hr/>
                <button mat-menu-item (click)="deleteCommentClick()">
                    <mat-icon>delete</mat-icon>
                    <span>Delete comment</span>
                </button>
            </ng-template>
        </mat-menu>
    </div>
</div>
