@import "app/standalone/style/border";
@import "app/standalone/style/buttons";
@import "app/standalone/style/grid";
@import "app/standalone/style/hover";
@import "app/standalone/style/icons";
@import "app/standalone/style/img";
@import "app/standalone/style/shadow";
@import "app/standalone/style/size";

@import "styles/themes";
@import "styles/default-mixings";
@import "styles/shared";
@import "styles/tags";
@import "styles/components";
@import "styles/mat-customization";

html, body {
    height: 100vh;
    background-color: var(--c-body);
}

body {
    margin: 0;
}
