@import "styles/themes";
@import "styles/default-mixings";
@import "styles/shared";
@import "styles/tags";
@import "styles/components";
@import "styles/mat-customization";

html, body {
    height: 100vh;
    background-color: var(--c-body);
}

body {
    margin: 0;
}
