@import "../../../../../styles/mixins";

.g-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.g-row {
    align-content: space-between;
}

.sl-avatar {
    @include sl-avatar(180px)
}
