@import "../../../../../styles/mixins";

.sl-fieldset {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.sl-col {
    align-content: space-between;
}

.sl-avatar {
    @include sl-avatar(180px)
}
