@import "../../../../styles/mixins";
@import "../../../../styles/components";

:host {
    display: grid;
}

.comments-container {
    grid-area: 1 / 1;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 0.3em;

    &.first-level {
        margin-left: 3em;
    }
}

.sl-btn-margin {
    margin: 0 1em 2em 1em;
}

.sl-replies-loading {
    @extend .sl-spinner-container;
    margin-left: 50px;
    height: 100px;
}

.sl-badge-container {
    padding-left: 2em;
}

.mat-badge-small.mat-badge-overlap.mat-badge-before .mat-badge-content {
    left: 0;
}

.mat-badge-small.mat-badge-above .mat-badge-content {
    top: 0;
}
