<div class="comments-container" [ngClass]="{'first-level': level===1}" [ngStyle]="{'background-color': background}">

    <div *ngIf="level>0"
                 class="sl-badge-container"
                 matBadge="{{level}}"
                 matBadgePosition="above before"
                 matBadgeSize="small"
                 matBadgeColor="accent">
        level
    </div>

    <ng-template #commentFormAddRef></ng-template>

    <ng-template ngFor let-item [ngForOf]="comments.commentsList" let-i="index" [ngForTrackBy]="commentsTrackBy">
        <app-comment-item [level]="level" [item]="item"></app-comment-item>
    </ng-template>

    <app-paginator *ngIf="comments.commentsListCount > paginatorOptions.pageSize"
                   [options]="paginatorOptions"
                   [itemsLength]="comments.commentsListCount"
                   (onPageChange)="handlePageChangeEvent($event)">
    </app-paginator>

</div>

<ng-template [appSpinner]="executingForm"></ng-template>
