@import "../../../../styles/mixins";
@import "../../../../styles/components";

.sl-btn-margin {
    margin: 0 1em 2em 1em;
}


.sl-replies-loading {
    @extend .sl-spinner-container;
    margin-left: 50px;
    height: 100px;
}
