<h1 class="p-20">Testing PWA</h1>

<div class="sl-container">
    <ng-container *ngTemplateOutlet="itemAdd"></ng-container>

    <ng-template ngFor let-item [ngForOf]="commentsList" let-i="index" [ngForTrackBy]="commentsTrackBy">
        <ng-container *ngTemplateOutlet="itemViewEdit; context:{ $implicit: item}"></ng-container>

        <ng-container *ngTemplateOutlet="itemReply; context:{ $implicit: item}"></ng-container>
    </ng-template>
</div>


<!--Add a comment-->

<ng-template #itemAdd>
    <ng-template [ngIf]="addId" [ngIfElse]="addBtn">
        <app-comment-form
                [formAction]="FormAction.Add"
                [disabled]="executingForm"
                [model]="addCommentModel"
                (onSave)="saveCommentAddEvent($event)"
                (onCancel)="cancelCommentAddEvent()">
        </app-comment-form>
    </ng-template>
    <ng-template #addBtn>
        <div class="sl-btn-margin">
            <button mat-flat-button color="primary" aria-label="Add a comment" (click)="commentAddClick()">
                <span>Add comment</span>
            </button>
        </div>
    </ng-template>
</ng-template>

<!--View and Edit a comment-->

<ng-template #itemViewEdit let-item>
    <ng-template [ngIf]="item.comment_id === editId" [ngIfElse]="itemView">
        <app-comment-form [formAction]="FormAction.Edit"
                          [disabled]="executingForm"
                          [model]="editCommentModel"
                          (onSave)="saveCommentEditEvent($event)"
                          (onCancel)="cancelCommentEditEvent()">
        </app-comment-form>
    </ng-template>
    <ng-template #itemView>
        <app-comment-item [item]="item"
                          (onCommentLike)="commentLikeEvent($event)"
                          (onCommentDislike)="commentDislikeEvent($event)"
                          (onCommentReply)="commentReplyEvent($event)"
                          (onCommentEdit)="commentEditEvent($event)"
                          (onCommentDelete)="commentDeleteEvent($event)">
        </app-comment-item>
    </ng-template>
</ng-template>

<!--Reply on comment-->

<ng-template #itemReply let-item>
    <div class="ml-50" *ngIf="item.comment_id === replyId">
        <app-comment-form [smallIcon]="true"
                          [formAction]="FormAction.Reply"
                          [disabled]="executingForm"
                          [model]="replyCommentModel"
                          (onSave)="saveCommentReplyEvent($event)"
                          (onCancel)="cancelCommentReplyEvent()">
        </app-comment-form>
    </div>
</ng-template>
