@import "../standalone-style/buttons";

:host {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 5px;
    display: flex;
    justify-content: center;
    //border: solid 1px black; //for debug

    --c-info: #FFFFFF;
    --c-info-background: #636262;
    --c-info-border: #323232;

    --c-success: #3C763DFF;
    --c-success-background: #c5f6c6;
    --c-success-border: #a4e5a7;

    --c-warn: #BB8C00;
    --c-warn-background: #F8EBC4;
    --c-warn-border: #fdde81;

    --c-error: #F44336;
    --c-error-background: #FFEBEB;
    --c-error-border: #f0caca;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 500, 'GRAD' 0, 'opsz' 48;
}

.sl-snack-bar-container {
    border-radius: 5px;
    width: 100vw;
    max-width: 400px;
    display: flex;
    justify-content: space-between;

    .message {
        padding: 10px;
    }

    .button {
        @include sl-icon-button
    }
}


@mixin sl-snack-bar($color, $background, $border) {
    color: $color;
    background-color: $background;
    border: 1px solid $border;

    .button {
        @include sl-icon-button-border(border-left, $border)
    }
}

.sl-snack-bar-info {
    @include sl-snack-bar(var(--c-info), var(--c-info-background), var(--c-info-border));
}

.sl-snack-bar-success {
    @include sl-snack-bar(var(--c-success), var(--c-success-background), var(--c-success-border));
}

.sl-snack-bar-warn {
    @include sl-snack-bar(var(--c-warn), var(--c-warn-background), var(--c-warn-border));
}

.sl-snack-bar-error {
    @include sl-snack-bar(var(--c-error), var(--c-error-background), var(--c-error-border));
}
