:host {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    display: grid;
    align-items: center;
    justify-items: center;

    --c-dialog-background: #FFFFFF;
    --c-dialog-color: #000000;
}

.sl-dialog-container {
    background-color: var(--c-dialog-background);
    border-radius: 5px;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}
