:host {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    border: 2px solid red;
    --c-menu-background: #FFF;
    --c-menu-color: #000;
}

.sl-dialog-title {

}

.sl-dialog-content {

}

.sl-dialog-button-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
