@import "../../../../../styles/mixins";

:host {
    @include g-container-rows;
}

h1 {
    text-align: center;
    padding-top: 80px;
}

.g-fieldset {
    @include g-fieldset(auto, 300px, 1, auto-fill);
}

.g-col {
    grid-template-columns: 150px 1fr;
    align-items: center;
}
