<h1>Verify account</h1>

<form [formGroup]="formModel.formGroup">
    <fieldset class="g-fieldset" [disabled]="executingForm">

        <div class="g-col">
            <mat-form-field appearance="fill">
                <mat-label>Verification code</mat-label>
                <input matInput #verifyCode [formControl]="formModel.verificationCode" maxlength="5" placeholder="Ex. 12345">
                <mat-hint align="end">{{verifyCode.value.length}} / 5</mat-hint>
                <mat-error *ngIf="formModel.verificationCode.invalid">{{FieldValidators.errorMessage(formModel.verificationCode)}}</mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" aria-label="Verify" (click)="verifyClick()">
                <mat-icon>check</mat-icon>
                <span>Verify</span>
            </button>
        </div>

        <button mat-flat-button color="primary" aria-label="Resend" (click)="resendClick()">
            <mat-icon>mail</mat-icon>
            <span>Resend code</span>
        </button>

    </fieldset>
</form>
