<h1>Verify account</h1>

<form [formGroup]="verifyModel.formGroup">
    <fieldset class="sl-fieldset" [disabled]="disableForm">

        <div class="sl-row">
            <mat-form-field class="w-150" appearance="fill">
                <mat-label>Verification code</mat-label>
                <input matInput #verifyCode [formControl]="verifyModel.verificationCode" maxlength="5" placeholder="Ex. 12345">
                <mat-hint align="end">{{verifyCode.value.length}} / 5</mat-hint>
                <mat-error *ngIf="verifyModel.verificationCode.invalid">{{FieldValidators.errorMessage(verifyModel.verificationCode)}}</mat-error>
            </mat-form-field>

            <button mat-flat-button color="primary" aria-label="Verify" (click)="verifyClick()">
                <mat-icon>check</mat-icon>
                <span class="pl-10">Verify</span>
            </button>
        </div>

        <button mat-flat-button color="primary" class="w-100p" aria-label="Resend" (click)="resendClick()">
            <mat-icon>mail</mat-icon>
            <span class="pl-10">Resend code</span>
        </button>

    </fieldset>
</form>
