//:host {
//    --c-toolbar-background: #3F51B5;
//    --c-toolbar-color: #FFFFFF;
//}

.toolbar {
    grid-template-columns: 64px 1fr min-content;
    height: 64px;
    color: var(--c-toolbar-color);
    background-color: var(--c-toolbar-background);

    .right {
        padding-right: 20px;
    }
}
