.sl-spacer {
    flex: 1 1 auto;
}

.sl-sign-in-button {
    border-color: #ffffff;

    &:hover {
        border-color: #D3D3D3;
        color: #D3D3D3;
    }

    span {
        margin-left: 10px;
    }
}