<mat-toolbar color="primary">

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="homeClick()">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="sl-flex-spacer"></span>

    <ng-template [ngIf]="isAuth" [ngIfElse]="signIn">
        <img class="sl-avatar-picture" alt="User avatar" src="{{avatarUrl}}" [matMenuTriggerFor]="menu">
        <mat-menu #menu="matMenu">
            <ng-template matMenuContent>
                <div class="sl-menu-title">Signed in as <b>{{nickname}}</b></div>
                <hr/>
                <button mat-menu-item (click)="profileClick()">
                    <mat-icon>account_circle</mat-icon>
                    <span>Your profile</span>
                </button>
                <hr/>
                <button mat-menu-item (click)="signOutClick()">
                    <mat-icon>logout</mat-icon>
                    <span>Sign Out</span>
                </button>
            </ng-template>
        </mat-menu>
    </ng-template>

    <ng-template #signIn>
        <a mat-stroked-button class="sl-sign-in-button" (click)="signInClick()">
            <mat-icon>login</mat-icon>
            <span>Sign in</span>
        </a>
    </ng-template>

</mat-toolbar>
