<div class="sl-toolbar">

    <div class="left">
        <div class="sl-home-button">
            <span class="material-symbols-outlined" (click)="handleHomeClick()">menu</span>
        </div>
    </div>

    <div class="center">
    </div>

    <div class="right">
        <ng-template [ngIf]="isAuth" [ngIfElse]="signIn">
            <img class="sl-avatar" alt="User avatar" src="{{avatarUrl}}" [appMenuPointer]="profileMenu" [items]="items">
            <ng-template #profileMenu></ng-template>
        </ng-template>
        <ng-template #signIn>
            <div class="sl-button" (click)="handleSignInClick()">
                <span class="material-symbols-outlined">login</span>
                <span>Sign in</span>
            </div>
        </ng-template>
    </div>

</div>
