<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>

    <span class="sl-flex-spacer"></span>

    <ng-template [ngIf]="isAuth" [ngIfElse]="login">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>dialpad</mat-icon>
                    <span>Redial</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>voicemail</mat-icon>
                    <span>Check voice mail</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Disable alerts</span>
                </button>
            </mat-menu>
    </ng-template>
    <ng-template #login>
        <a mat-stroked-button class="sl-sign-in-button" href="/login">
            <mat-icon>login</mat-icon>
            <span>Sign in</span>
        </a>
    </ng-template>
</mat-toolbar>
