<h1>Testing PWA</h1>

<div>
    <button mat-flat-button color="primary" aria-label="Add comment" (click)="addClick()">
        <span>Add comment</span>
    </button>
</div>

<div class="sl-container">

    <ng-container *ngFor="let item of commentsList">
        <div class="sl-item">
            <div>
                <img class="sl-avatar" alt="User avatar" src="{{item.avatar_id | slPictureUrl}}">
            </div>
            <div class="sl-item-text">
                <div class="g-col">
                    <b>
                        {{item.nickname}}
                    </b>
                    <div class="sl-date">
                        {{item.write_date | slDateTimeYyyyMmDdHhMmSsPipe}}
                    </div>
                </div>
                <div [innerText]="item.comment"></div>
                <div class="sl-item-reply">
                    <div class="g-col mr-20">
                        <mat-icon (click)="commentLike(item.comment_id)">thumb_up</mat-icon>
                        <span>{{item.likes_count}}</span>
                    </div>
                    <div class="g-col mr-20">
                        <mat-icon (click)="commentDislike()">thumb_down</mat-icon>
                        <span>{{item.dislikes_count}}</span>
                    </div>
                    <div class="g-col">
                        <mat-icon (click)="commentReply()">chat</mat-icon>
                        <span>{{item.replies_count}}</span>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

</div>
