<h1>Testing PWA</h1>

<div>
    <button mat-flat-button color="primary" aria-label="Add comment" (click)="addClick()">
        <span>Add comment</span>
    </button>
</div>

<div class="sl-container">

    <ng-container *ngFor="let item of commentsList">
        <div class="sl-item">
            <div>
                <img class="sl-avatar" alt="User avatar" src="{{item.avatar_id | slPictureUrl}}">
            </div>
            <div class="sl-item-text">
                <b>
                    {{item.nickname}}
                </b>
                <div [innerText]="item.comment"></div>
                <div class="g-align-right">
                    {{item.write_date | slDateTimeYyyyMmDdHhMmSsPipe}}
                </div>
            </div>
        </div>
    </ng-container>

</div>
