<h1>Sign in!</h1>

<form [formGroup]="formModel.formGroup">
    <fieldset class="g-fieldset" [disabled]="executingForm">

        <mat-form-field appearance="fill">
            <mat-label>Email address</mat-label>
            <input name="login-email" autocomplete="email" type="email" matInput [formControl]="formModel.email"
                   placeholder="Ex. email@domain.com">
            <mat-error *ngIf="formModel.email.invalid">{{FieldValidators.errorMessage(formModel.email)}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input name="login-password" autocomplete="current-password" type="password" matInput [formControl]="formModel.password">
            <mat-error *ngIf="formModel.password.invalid">{{FieldValidators.errorMessage(formModel.password)}}</mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" [disabled]="executingForm" aria-label="Sign in" (click)="signInClick()">
            <mat-icon>login</mat-icon>
            <span>Sign in</span>
        </button>

        <div>
            <a class="sl-link-button left" [ngClass]="{'disabled': executingForm}" (click)="forgotPasswordClick()">
                Forgot password?
            </a>
        </div>

    </fieldset>
</form>

<div class="g-col">

    <span>Don't have account?</span>
    <a class="sl-link-button left" [ngClass]="{'disabled': executingForm}" (click)="signupClick()">
        Create an account
    </a>

</div>
