<h1>Forgot password?</h1>

<form [formGroup]="forgotModel.formGroup">
    <fieldset class="sl-fieldset" [disabled]="disableForm">

        <mat-label>Enter your email address to reset your password. <br> You may need to check your spam folder.</mat-label>

        <mat-form-field appearance="fill">
            <mat-label>Email address</mat-label>
            <input name="login-email" autocomplete="email" type="email" matInput [formControl]="forgotModel.email" placeholder="Ex. email@domain.com">
            <mat-error *ngIf="forgotModel.email.invalid">{{FieldValidators.errorMessage(forgotModel.email)}}</mat-error>
        </mat-form-field>

        <button mat-flat-button color="primary" class="w-100p" aria-label="Send reset link to email" (click)="forgotClick()">
            <mat-icon>lock_reset</mat-icon>
            <span class="pl-10">Send reset link to email</span>
        </button>

    </fieldset>
</form>
