<h1 class="p-20">Testing PWA</h1>
<button (click)="snackOpen()">snack Open</button>
<button (click)="snackClose()">snack Close</button>

<div class="sl-comments-search">
    <mat-form-field appearance="fill">
        <mat-label>Search</mat-label>
        <input type="text" matInput [(ngModel)]="searchWords">
        <button *ngIf="searchWords" matSuffix mat-icon-button aria-label="Clear" (click)="handleCommentClearSearchClick()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <div class="sl-btn-search">
        <button mat-flat-button color="primary" aria-label="Search" (click)="handleCommentSearchClick()">
            <span>Search</span>
        </button>
    </div>
</div>

<div class="sl-comments-container">

    <div class="sl-btn-add">
        <button mat-flat-button color="primary" aria-label="Add a comment" (click)="handleAddCommentClick()">
            <span>Add comment</span>
        </button>
    </div>

    <app-comments></app-comments>

</div>
