:host {
    overflow-y: auto;
}

h1 {
    padding: 16px 16px 0 16px;
}

.sl-comments-search {
    margin: 0 1em 1em 1em;
}

.sl-comments-container {
    max-width: 800px;
}

.sl-btn-add {
    margin: 0 1em 2em 1em;
}
