<div class="sl-login-form">
    <h1>Sign in!</h1>

<!--    <app-warn-message *ngIf="errorMessage" [warnMessage]="errorMessage"></app-warn-message>-->
    <div class="sl-h-20"></div>

    <form [formGroup]="model.formGroup" (submit)="loginClick()">
        <fieldset class="sl-fieldset" [disabled]="disableForm">
            <mat-form-field class="sl-field-fill" appearance="fill">
                <mat-label>Email address</mat-label>
                <input name="login-email" autocomplete="email" type="email" matInput [formControl]="model.email" placeholder="Ex. myemail@domain.com or my-username">
                <mat-error *ngIf="model.email.invalid">{{FieldValidators.errorMessage(model.email)}}</mat-error>
            </mat-form-field>
            <mat-form-field class="sl-field-fill" appearance="fill">
                <mat-label>Password</mat-label>
                <input name="login-password" autocomplete="current-password" type="password" matInput [formControl]="model.password">
                <mat-error *ngIf="model.password.invalid">{{FieldValidators.errorMessage(model.password)}}</mat-error>
            </mat-form-field>

            <div class="sl-h-20"></div>
            <button mat-flat-button color="primary" class="sl-field-fill" aria-label="Sign in" (click)="loginClick()">
                <mat-icon>login</mat-icon>
                <span>Sign in</span>
            </button>

            <div class="sl-h-20"></div>
            <a class="sl-a-button" (click)="forgotPasswordClick()">
                <span>Forgot password?</span>
            </a>
        </fieldset>
    </form>

    <div class="sl-h-20"></div>
    <div class="sl-row-center-sb">
        <span>Don't have account?</span>
        <a class="sl-a-button" (click)="signupClick()">
            <span>Create an account .</span>
        </a>
    </div>
</div>
