<div class="sl-login-form">
    <h1>Sign in!</h1>
    <form [formGroup]="model.formGroup" (submit)="loginClick()">
        <fieldset class="sl-fieldset" [disabled]="disableForm">
            <mat-form-field class="sl-field-fill" appearance="fill">
                <mat-label>Username or email address</mat-label>
                <input type="email" matInput [formControl]="model.username" placeholder="Ex. myemail@domain.com or my-username">
                <mat-error *ngIf="model.username.invalid">{{FieldValidators.errorMessage(model.username)}}</mat-error>
            </mat-form-field>
            <a href="/signup">
                <span>Forgot password?</span>
            </a>
            <mat-form-field class="sl-field-fill" appearance="fill">
                <mat-label>Password</mat-label>
                <input type="password" matInput [formControl]="model.password">
                <mat-error *ngIf="model.password.invalid">{{FieldValidators.errorMessage(model.password)}}</mat-error>
            </mat-form-field>

            <div class="sl-h-20"></div>
            <button mat-flat-button color="primary" class="sl-field-fill" aria-label="Sign in" (click)="loginClick()">
                <mat-icon>login</mat-icon>
                <span>Sign in</span>
            </button>

            <div class="sl-h-20"></div>
            <div class="sl-row-center-sb">
                <span>Don't have account?</span>
                <a href="/signup">
                    <span>Create an account .</span>
                </a>
            </div>
        </fieldset>
    </form>

    <div class="sl-h-20"></div>
    <div class="sl-row-center-sa">
        <a href="/term">
            <span>Term</span>
        </a>
        <a href="/privacy">
            <span>Privacy</span>
        </a>
    </div>
</div>
