<mat-accordion multi>

    <hr/>

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>account_circle</mat-icon>
                <span>Public profile</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <app-user-public-profile></app-user-public-profile>
        </ng-template>
    </mat-expansion-panel>

    <hr/>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>email</mat-icon>
                <span>Email</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <app-user-email></app-user-email>
        </ng-template>
    </mat-expansion-panel>

    <hr/>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>password</mat-icon>
                <span>Password</span>
            </mat-panel-title>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
            <app-user-password></app-user-password>
        </ng-template>
    </mat-expansion-panel>

</mat-accordion>

<ng-template [appSpinner]="showSpinner"></ng-template>
