.sl-warn-message {
    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    padding: 10px;
    background-color: var(--c-error-background);
    border: var(--c-error-border) 1px solid;
    border-radius: 4px;
}
