@mixin sl-icon-button() {
    display: flex;
    align-items: center;
    user-select: none;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, .04);
        }
    }
}

@mixin sl-icon-button-border($borderSide, $borderColor) {
    #{$borderSide}: 1px solid $borderColor;
}
