<ng-template [appSpinner]="disableForm">
    <form [formGroup]="userPasswordFormModel.formGroup" class="g-row">

        <h3>Change current password</h3>

        <input name="login-email" autocomplete="email" type="email" [hidden]="true">

        <mat-form-field appearance="fill">
            <mat-label>Current password</mat-label>
            <input name="current-password" autocomplete="current-password" type="password" matInput [formControl]="userPasswordFormModel.currentPassword">
            <mat-error *ngIf="userPasswordFormModel.currentPassword.invalid">{{FieldValidators.errorMessage(userPasswordFormModel.currentPassword)}}</mat-error>
        </mat-form-field>

        <div class="g-col">
            <mat-form-field appearance="fill">
                <mat-label>New password</mat-label>
                <input name="new-password" autocomplete="new-password" type="password" matInput [formControl]="userPasswordFormModel.newPassword">
                <mat-error *ngIf="userPasswordFormModel.newPassword.invalid">{{FieldValidators.errorMessage(userPasswordFormModel.newPassword)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm new password</mat-label>
                <input name="confirm-password" autocomplete="confirm-password" type="password" matInput [formControl]="userPasswordFormModel.confirm">
                <mat-error *ngIf="userPasswordFormModel.confirm.invalid">{{FieldValidators.errorMessage(userPasswordFormModel.confirm)}}</mat-error>
            </mat-form-field>
        </div>

        <div class="g-col">
            <button mat-flat-button color="primary" aria-label="Change password" (click)="changePasswordClick()">
                <span>Change password</span>
            </button>
        </div>

    </form>
</ng-template>
