@import "../style/button";
@import "../style/inputs";

:host {
    width: 100vw;
}

.container {
    border-radius: 5px;
    border: 1px solid var(--input-brc);
    background-color: var(--input-b);
    display: grid;
    grid-template-columns: min-content 1fr min-content;

    .input {
        padding-left: 5px;
    }

    .b-right {
        border-right: 1px solid var(--input-brc);
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
    }

    .b-left {
        border-left: 1px solid var(--input-brc);
        border-bottom-right-radius: unset;
        border-top-right-radius: unset;
    }

}
