<h1>Reset password!</h1>

<form [formGroup]="resetModel.formGroup">
    <fieldset class="sl-fieldset" [disabled]="disableForm">

        <mat-label>Enter your reset code and new password.</mat-label>
        <mat-label>Email: <b>{{email}}</b></mat-label>

        <mat-form-field appearance="fill">
            <mat-label>Reset code</mat-label>
            <input name="reset-code" autocomplete="reset-code" matInput [formControl]="resetModel.resetCode" placeholder="Ex 32 chars: ae894a4fea79403ab7de57eefada2c2d">
            <mat-error *ngIf="resetModel.resetCode.invalid">{{FieldValidators.errorMessage(resetModel.resetCode)}}</mat-error>
        </mat-form-field>

        <div class="sl-row">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input name="login-password" autocomplete="current-password" type="password" matInput [formControl]="resetModel.password">
                <mat-error *ngIf="resetModel.password.invalid">{{FieldValidators.errorMessage(resetModel.password)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm</mat-label>
                <input name="confirm-password" autocomplete="confirm-password" type="password" matInput [formControl]="resetModel.confirm">
                <mat-error *ngIf="resetModel.confirm.invalid">{{FieldValidators.errorMessage(resetModel.confirm)}}</mat-error>
            </mat-form-field>
        </div>

        <button mat-flat-button color="primary" class="w-100p" aria-label="Reset password" [disabled]="disableForm" (click)="resetPasswordClick()">
            <mat-icon>lock_reset</mat-icon>
            <span class="pl-10">Set new password</span>
        </button>

    </fieldset>
</form>
