<h1>Reset password!</h1>


<form [formGroup]="formModel.formGroup">
    <fieldset class="g-fieldset" [disabled]="disableForm">

        <mat-label>Email: <b>{{email}}</b></mat-label>
        <mat-label>Enter your reset code and new password.</mat-label>


        <div class="g-align-right">
            <button mat-flat-button color="primary" [disabled]="disableForm" aria-label="Resend reset password code" (click)="forgotClick()">
                <mat-icon>mail_lock</mat-icon>
                <span>Resend code</span>
            </button>
        </div>

        <mat-form-field appearance="fill">
            <mat-label>Reset code</mat-label>
            <input name="reset-code" autocomplete="reset-code" matInput [formControl]="formModel.resetCode"
                   placeholder="Ex 32 chars: ae894a4fea79403ab7de57eefada2c2d">
            <mat-error *ngIf="formModel.resetCode.invalid">{{FieldValidators.errorMessage(formModel.resetCode)}}</mat-error>
        </mat-form-field>



        <div class="g-col">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input name="login-password" autocomplete="current-password" type="password" matInput [formControl]="formModel.password">
                <mat-error *ngIf="formModel.password.invalid">{{FieldValidators.errorMessage(formModel.password)}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm</mat-label>
                <input name="confirm-password" autocomplete="confirm-password" type="password" matInput [formControl]="formModel.confirm">
                <mat-error *ngIf="formModel.confirm.invalid">{{FieldValidators.errorMessage(formModel.confirm)}}</mat-error>
            </mat-form-field>
        </div>

        <button mat-flat-button color="primary" aria-label="Reset password" [disabled]="disableForm" (click)="resetPasswordClick()">
            <mat-icon>lock_reset</mat-icon>
            <span>Set new password</span>
        </button>

    </fieldset>
</form>
