// custom link button

.sl-link-button {
    text-decoration: underline;
    color: var(--c-link-button);

    &.left {
        float: left;
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: gray;
    }

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
        }
    }
}

// icon round button
.sl-icon-button {
    border-radius: 50%;
    padding: 3px;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
            background-color: var(--c-hover-icon);
        }
    }
}


// autogrow content editable element

.sl-textarea-autogrow {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 20px;
    line-height: 20px;
    background-color: var(--c-input-background);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    outline: none;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            border-bottom: 2px solid black;
        }
    }
}

.sl-textarea-autogrow[contenteditable]:empty::before {
    content: attr(placeholder);
    color: gray;
}

.sl-textarea-autogrow[contenteditable=false] {
    color: gray;
}

// spinner container

.sl-spinner-container {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
