.sl-link-button {
    text-decoration: underline;
    color: var(--c-link-button);

    &.left {
        float: left;
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: gray;
    }

    &:hover {
        cursor: pointer;
    }
}

.sl-textarea-autogrow {
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 20px;
    line-height: 20px;
    background-color: var(--c-input-background);
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    outline: none;

    &:hover {
        border-bottom: 2px solid black;
    }
}

.sl-textarea-autogrow[contenteditable]:empty::before {
    content: attr(placeholder);
    color: gray;
}

.sl-textarea-autogrow[contenteditable=false] {
    color: gray;
}
