@import "mixins";

.g-fieldset {
    @include g-fieldset;
}

.g-col {
    @include g-col;
}

.g-row {
    @include g-row;
}


.sl-fieldset {
    @include sl-fieldset(auto, 1, 1);
    padding: 20px;
}

.sl-row {
    @include sl-row(2);
    gap: 10px;
}

.sl-col {
    @include sl-col(auto-fill);
    grid-gap: 1em;
}

.sl-avatar {
    @include sl-avatar(32px)
}

// icon text button
.sl-icon-text-button {
    @include sl-icon-text-button(--c-link-button, --c-link-button-hover)
}
