// grid styles
@mixin g-container-rows($h:100%, $w:100%) {
    height: $h;
    width: $w;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(0, max-content));
    justify-content: center;
}

@mixin g-fieldset($h:100%, $w:100%, $col:auto-fill, $row:1) {
    height: $h;
    width: $w;

    display: grid;
    grid-template-columns: repeat($col, 1fr);
    grid-template-rows: repeat($row, minmax(0, max-content));
    grid-gap: 1em;

    border: var(--c-borger-fieldset) 1px solid;
    border-radius: 4px;

    padding: 20px;

    &:disabled {
        cursor: wait;
    }
}

@mixin g-col($col: 2) {
    display: grid;
    grid-template-columns: repeat($col, minmax(0, max-content));
    gap: 1em;
}

@mixin g-row($row: 2) {
    display: grid;
    grid-template-rows: repeat($row, minmax(0, max-content));
    gap: 1em;
}



// grid styles
@mixin sl-form-host() {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(0, max-content));
    justify-content: center;

    h1 {
        display: flex;
        justify-content: center;
        padding-top: 80px;
    }
}

@mixin sl-fieldset($width, $col, $row) {
    width: $width;

    display: grid;
    grid-template-columns: repeat($col, 1fr);
    grid-template-rows: repeat($row, minmax(0, max-content));
    grid-gap: 1em;

    border: var(--c-borger-fieldset) 1px solid;
    border-radius: 4px;

    &:disabled {
        cursor: wait;
    }
}

@mixin sl-col($row) {
    display: grid;
    @if ($row != 'auto-fill') {
        grid-template-rows: repeat($row, 1fr);
    }
}

@mixin sl-row($col) {
    display: grid;
    grid-template-columns: repeat($col, minmax(0, max-content));
}

// img style
@mixin sl-avatar($size) {
    border-radius: 50%;
    box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    min-height: $size;
    min-width: $size;
    max-height: $size;
    max-width: $size;
    background-color: #FFFFFF;
    line-height: $size;
    text-align: center;

    &:hover {
        cursor: pointer;
    }
}

// buttons
@mixin sl-icon-text-button($color, $hover) {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0.2em 0.5em 0.2em 0.5em;
    user-select: none;
    color: var($color);

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            cursor: pointer;
            background-color: var($hover);
        }
    }
}
