@import "themes";

.sl-field-fill {
    width: 100%;

    &span {
        margin-left: 10px;
    }
}

.sl-form-single-col {
    flex: 1;
    max-width: var(--form-single-col-width);

    h1 {
        padding-top: 20px;
    }
}

.sl-row-center {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sl-col-right {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.sl-spacer {
    height: 20px;
}