@import "themes";

.sl-field-fill {
    width: 100%;

    &span {
        margin-left: 10px;
    }
}

.sl-fieldset {
    border: var(--c-borger-fieldset) 1px solid;
    border-radius: 4px;
    padding: 20px;

    &:disabled {
        cursor: wait;
    }
}

.sl-form-single-col {
    flex: 1;
    max-width: var(--form-single-col-width);

    h1 {
        padding-top: 20px;
    }
}

.sl-a-button {
    text-decoration: underline;
    color: var(--c-link-button);

    &:hover {
        cursor: pointer;
    }
}

.sl-flex-spacer {
    flex: 1 1 auto;
}

.sl-row-center-sa {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sl-row-center-sb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sl-col-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sl-h-20 {
    height: 20px;
}

.sl-h-40 {
    height: 40px;
}

.sl-w-48p {
    width: 48%;
}

// snack bar
.sl-snack-bar-info {
    color: var(--c-info);
    background-color: var(--c-info-background);
    border: 1px solid var(--c-info-border);

    .mat-button {
        color: var(--c-info);
    }
}

.sl-snack-bar-success {
    color: var(--c-success);
    background-color: var(--c-success-background);
    border: 1px solid var(--c-success-border);

    .mat-button {
        color: var(--c-success);
    }
}

.sl-snack-bar-warn {
    color: var(--c-warn);
    background-color: var(--c-warn-background);
    border: 1px solid var(--c-warn-border);

    .mat-button {
        color: var(--c-warn);
    }
}

.sl-snack-bar-error {
    color: var(--c-error);
    background-color: var(--c-error-background);
    border: 1px solid var(--c-error-border);

    .mat-button {
        color: var(--c-error);
    }
}

// form multi columns

// fieldset for form with multiple column
.sl-form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

.sl-col {
    display: flex;
    flex-direction: column;
    border: none;

    &button {
        flex-grow: 0;
    }
}
