html {
    --c-body: #fafafa;
    --c-borger-fieldset: #d3d3d3;
    --c-error: #f44336;
    --c-error-background: #ffebeb;
    --c-error-border: #f2bebe;
    --c-link-button: #0000ff;

    //Form
    --form-single-col-width: 600px

}
