html {
    --c-body: #FAFAFA;
    --c-borger-fieldset: #D3D3D3;
    --c-input-background: rgba(0, 0, 0, .04);

    --c-info: #FFFFFF;
    --c-info-background: #636262;
    --c-info-border: #323232;

    --c-success: #3C763DFF;
    --c-success-background: #c5f6c6;
    --c-success-border: #a4e5a7;

    --c-warn: #BB8C00;
    --c-warn-background: #F8EBC4;
    --c-warn-border: #fdde81;

    --c-error: #F44336;
    --c-error-background: #FFEBEB;
    --c-error-border: #f0caca;

    // buttons
    --c-link-button: #0000FF;
    --c-link-button-hover: #cadcfa;

    --c-black-button: #000000;
    --c-black-button-hover: #D3D3D3;

    // Form
    --form-single-col-width: 600px;

    // Elements
    --c-hover-icon: #D3D3D3;
    --c-disabled-icon: #CCCCCC;
    --c-selected-icon: #9FD6F4;
    --c-date-time: #858080;

}

// default class
// add <class="fill"> for fill icons
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;

    &.fill {
        font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
    }
}
