:host {
    display: flex;
    justify-content: center;
}

.sl-signup-form {
    flex: 1;
    max-width: 340px;

    h1 {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
}
