<div class="sl-item">

    <div>
        <img class="sl-avatar" alt="User avatar" src="{{SlStorage.avatar_id | slPictureUrl}}">
    </div>
    <div class="sl-item-text">
        <div #commentText class="sl-textarea-autogrow" (input)="changeComment($event)">{{inModel.comment}}</div>

        <div class="sl-button-container">
            <button mat-stroked-button color="primary" aria-label="Cancel"
                    [disabled]="disabled" (click)="cancelClick()">
                <span>Cancel</span>
            </button>
            <button mat-flat-button color="primary" aria-label="Save"
                    [disabled]="!formModel.isFieldValid() || disabled" (click)="saveClick()">
                <span>Save</span>
            </button>
        </div>
    </div>

</div>
