<div class="sl-item">
    <div>
        <img class="sl-avatar" alt="User avatar" src="{{SlStorage.avatar_id | slPictureUrl}}">
    </div>
    <div class="sl-item-text">
        <div class="sl-textarea-autogrow" contenteditable (input)="changeComment($event)">{{formModel.commentValue}}</div>

        <div class="sl-button-container">
            <button mat-stroked-button color="primary" aria-label="Cancel" (click)="cancelClick()">
                <span>Cancel</span>
            </button>
            <button mat-flat-button color="primary" [disabled]="!formModel.isFieldValid()" aria-label="Save" (click)="saveClick()">
                <span>Save</span>
            </button>
        </div>
    </div>
</div>
