<div class="sl-item">

    <div>
        <img class="sl-avatar" [ngClass]="{'small':smallIcon}" alt="User avatar" src="{{SlStorage.avatar_id | slPictureUrl}}">
    </div>
    <div class="sl-item-text">
        <div #commentTextRef class="sl-textarea-autogrow"
             [innerHtml]="model.comment"
             (input)="handleCommentTextChange($event)">
        </div>

        <div class="sl-buttons-container">
            <button mat-stroked-button color="primary" aria-label="Cancel"
                    [disabled]="isButtonDisabled"
                    (click)="handleCancelClick()">
                <span>Cancel</span>
            </button>
            <button mat-flat-button color="primary" aria-label="Save"
                    [disabled]="!formModel.isFieldValid() || isButtonDisabled"
                    (click)="handleSaveClick()">
                <span>{{saveButtonLabel}}</span>
            </button>
        </div>
    </div>

</div>

<ng-template [appSpinner]="executingForm"></ng-template>
