@import "../../../../styles/mixins";

:host {
    display: grid;
}

.sl-item {
    grid-area: 1 / 1;
    display: grid;
    grid-template-columns: minmax(0, max-content) 1fr;
    gap: 1em;
    margin: 0.5em 1em 0.5em 1em;
    border: none;
}

.sl-item-text {
    @include g-row(3);
    gap: 0;
}

.sl-item-reply {
    @include g-col(3);
    margin-top: 10px;
}

.sl-item-icon {
    @include g-col;
    align-items: center;
}

.sl-buttons-container {
    @include g-col;
    justify-content: end;
    margin-top: 10px;
}

.sl-avatar {
    &.small {
        @include sl-avatar(21px)
    }
}
